.stripoTable{
  display: table;
  width: 100%;
  height: 100%;
  width: calc(100% - 70px);
  position: fixed;
  top:0; left:70px;
  z-index:1000000;
  background: #fff;
}
.stripoTableBody {
  display: table-row-group;
}
.stripoTableRow {
  display: table-row;
}
.stripoTableCell {
  border: 1px solid #999999;
  display: table-cell;
  padding: 0;
  border: 0;
}
.stripoTable .bootstrap-select {
  z-index: 1000001;
}
#stripoPreviewContainer {
  padding-top:41px;
}
#stripoSettingsContainer {
  border-right: 1px solid #ddd;
  background-color: #f6f6f6;
}
.stripoTable .buttons {
  position:fixed;
  right: 17px;
  top: 3px;
  z-index:1000001;
}
@keyframes ldio-zegrl3yivoa {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-zegrl3yivoa div {
  position: absolute;
  width: 51px;
  height: 51px;
  border: 15px solid #a9a9a9;
  border-top-color: transparent;
  border-radius: 50%;
  animation: ldio-zegrl3yivoa 0.5s linear infinite;
  top: 50px;
  left: 50px;
  box-sizing: content-box; 
}
.loadingio-spinner-rolling-q3qw3bv5npn {
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-bottom: -9px;
  display: none;
}
.ldio-zegrl3yivoa {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
